extends layout 

block layout-content
    div.View.WelcomeView
        h1#Banner Airport Weather
        div.Message
            div.Title
                h1 All the Airport Weather you need!
                form(id="form-group" method="POST" action="/fetch")
                    select(id="airportSelect" name="ap")
                        option(value="npe") Napier Airport <br>
                        option(value="akl") Auckland International Airport <br>
                        option(value="chc") Christchuch International Airport <br>
                        option(value="wlg") Wellington International Airport <br>
                        option(value="zqn") Queenstown Airport <br>
                        option(value="hlz") Hamilton Airport <br>
                    button.btn.btn-primary(type="submit") Check Weather