
block layout-content
    form(role='form' method='POST' action='/post')
        div.form-group
        label(for='name')
        input#name.form-control(type='text', placeholder='name' name='name')
        label(id='body') hello world
        button.btn.btn-primary(type="submit", name="asdf") Submit

