body {
    background: #6dace770;
}

.WelcomeView {
    background: url("img/img_background.jpg") left bottom;
    background-size: cover;
}

.WeatherView {
    background: black;
    /* background: url("img/img_background.jpg") left bottom; */
    background-size: cover;
}