body {
    background: aqua;
}

.WelcomeView {
    background: url("img/img_background.jpg") left bottom;
    background-size: cover;
}

.WeatherView {
    color: black;
    background: url("img/img_background.jpg") left bottom;
    background-size: cover;
}